<div id="details" class="card restaurant-details">
  <div class="card-block">
    <button type="button" class="close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="name card-title"></h2>

    <a class="link-gmaps" href="">View on Google Maps</a>

    <div class="meals">
    </div>
  </div>
</div>