<!DOCTYPE html>
<html>
  <head>
    <!-- bootstrapMD css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css" />

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div style="width:80%;margin-left:10%;text-align:center;vertical-align: center;padding: 20px">
      <div id="create" class="card create-card">
        <div class="card-block">
          <form id="create-form" class="create-form">
            <div class="md-form">
              <input type="text" id="name" class="form-control">
              <label for="name" class="">Name </label>
            </div>
            <div class="md-form">
              <input type="text" id="location" class="form-control">
              <label for="location" class="">Location </label></div>
            <div class="md-form">
              <input type="text" id="name" class="form-control">
              <label for="name" class="">Name </label>
            </div>
            <div>Meals:</div>
          </form>
        </div>
      </div>
    </div>


    name
    location
    meals
      name
      price
      nutrition
        calories
        carbohydrates_grams
        proteins_grams
        fats_grams
  </body>
</html>