<!DOCTYPE html>
<html>
  <head>
    <!-- bootstrapMD css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css" />

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
    </style>
  </head>
  <body>
    <h1 class="page-title">Subscribe a restaurant</h1>
    <div style="width:80%;margin-left:10%;padding: 20px">

      <div id="create" class="card create-card">
        <div class="card-block">
          <form id="create-form" class="create-form">

            <h2>Search Address:</h2>

            <div class="md-form">
              <input id="gmaps" class="controls" type="text" placeholder="Search">
            </div>

            <h2>Publish a meal:</h2>

            <div class="meal">
              <div class="md-form">
                <input type="text" id="mealname" class="form-control">
                <label for="mealname" class="">Name </label>
              </div>

              <div class="md-form">
                <input type="number" id="price" class="form-control">
                <label for="price" class="">Price ($)</label>
              </div>

              <div class="md-form">
                <input type="number" id="calories" class="form-control">
                <label for="calories" class="">Calories</label>
              </div>

              <div class="md-form">
                <input type="number" id="carbohydrates_grams" class="form-control">
                <label for="carbohydrates_grams" class="">Carbohydrates (g)</label>
              </div>

              <div class="md-form">
                <input type="number" id="proteins_grams" class="form-control">
                <label for="proteins_grams" class="">Proteins (g)</label>
              </div>

              <div class="md-form">
                <input type="number" id="fats_grams" class="form-control">
                <label for="fats_grams" class="">Fats (g)</label>
              </div>

              <button type="button" class="btn btn-primary" onclick="createRestaurant()">Create</button>
            </div>
          </form>
        </div>
      </div>

    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo3RiXN8AQd0JySJBLEml7tsq7vsLUGN4&libraries=places&callback=initAutocomplete"
         async defer></script>

    <!-- jquery -->
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="scripts/create.js"></script>

    <!-- bootsrapMD javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js"></script>
  </body>
</html>