<!DOCTYPE html>
<html>
  <head>
    <!-- bootstrapMD css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css" />

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
    <title>Your Healthy City</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00d448">
    <meta name="theme-color" content="#ffffff">
  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: calc(100% - 56px);
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <nav class="main-navbar navbar navbar-dark green">
      <a id="search-toggle" class="search-toggle" onclick="expandSearch()">Search</a>
      <img class="main-logo" src="Logowithstroke.png"/>
    </nav>
    <% include partials/search.ejs %>

    <!-- Google Maps -->
    <div id="map"></div>

    <script src="https://cdn.klokantech.com/maptilerlayer/v1/index.js"></script>
    <script src="scripts/initialize.js"></script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjRzs7JZLOITyIzbgICgZeQIqyqzcAfMo&callback=initMap">
    </script>

    <% include partials/detail-view.ejs %>
  </body>

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
  <script src="scripts/search.js"></script>
  <!-- bootsrapMD javascript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js"></script>
</html>
