<!DOCTYPE html>
<html>
  <head>
    <!-- bootstrapMD css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css" />

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
    <title>Your Health City</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/public/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/public/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/public/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="manifest" href="/public/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/public/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <% include partials/search.ejs %>

    <!-- Google Maps -->
    <div id="map"></div>

    <script src="https://cdn.klokantech.com/maptilerlayer/v1/index.js"></script>
    <script src="scripts/initialize.js"></script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjRzs7JZLOITyIzbgICgZeQIqyqzcAfMo&callback=initMap">
    </script>

    <% include partials/detail-view.ejs %>
  </body>

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
  <script src="scripts/search.js"></script>
  <!-- bootsrapMD javascript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js"></script>
</html>
