.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

/***************************
* DETAILS
***************************/
.restaurant-details {
  position: absolute;
  display: none;
  background: white;
}

.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.restaurant-details .card-block { min-width: 200px }

.restaurant-details .card-block .close {
  position: relative;
  top: 22px;
}

.detail-item:not(:last-child){
  padding-bottom: 8px;
}

.detail-item label + span {
  float: right;
}

.meal-rating {
  float: right;
}

/* phone display */
@media all and (max-width: 980px){
  .restaurant-details {
    width: 100%;
    bottom: 0;
  }
}

/***************************
* SEARCH
***************************/
.search-card {
  position: absolute;
  z-index: 10;
  background: white;
  left: 10px;
  top: 10px;
}

.search-toggle { display: none; }

.search-form {
  width: 280px;
}

.close.next-to-button {
  position: relative;
  top: 14px;
}

.close.next-to-h4 {
  right: 19px;
  position: relative;
  top: -2px;
  z-index: 1;
}

.search-form .md-form {
  margin-bottom: 0.5rem;
}

.search-form .md-form input {
  height: 1.2rem
}

.looking-for {
  position: relative;
  left: 20px;
  margin-bottom: 0;
}

.btn-search {
  margin-bottom: 20px;
}

img.rating-apple {
  width: 27px;
  position: relative;
  display: inline-block;
  top: -5px;
}

/***************************
* CREATE
***************************/
.create-card {
  min-width: 300px;
  width: 50%;
  margin: 0 auto;
}

.page-title {
  position: relative;
  margin-left: 30%;
}


/* copy some mdbootstrap styles since they don't seem to apply */
button.close {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 1.5rem;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.btn-flat {
  position: relative;
  padding: 8px 30px;
  border: none;
  margin: 10px;
  text-decoration: none;
  outline: 0!important;
}

.btn-flat, .btn-flat:focus {
  background-color: transparent;
}

.btn-flat {
  text-transform: uppercase;
}

.pull-right {
  float: right;
}